<div>
	<canvas id="background" width="{{gameWidth}}" height="{{gameHeight}}" class="game-canvas"></canvas>
	<canvas id="props" width="{{gameWidth}}" height="{{gameHeight}}" class="game-canvas"></canvas>
	<canvas id="cover" width="{{gameWidth}}" height="{{gameHeight}}" class="game-canvas"></canvas>
</div>

<canvas id="player" width="{{gameWidth}}" height="{{gameHeight}}" class="game-canvas"></canvas>